body    {
    margin: 0px;
}
#team   {
    background-color: #F2F2F2;
    padding-top: 1em;
    font-family: sans-serif;
}

#team h2  {
    color: #5E3E8C;
    text-align: center;
    display: block;
    margin: 0 4em;
}

#team img   {
    border-radius: 50%;
}

.team-images    {
    display: flex;
    flex-wrap: wrap;
    color: #5E3E8C;
    text-align: center;
    margin-top: 1.5em;
    margin-left: 3em;
}

.team-images img    {
    margin: 1em 1em 0em 1em;
}

.team-images p  {
    text-align: center;
}

@media screen and (min-width:519px){
    .team-images{
        justify-content: center;
        margin-left: inherit;
    }
}

@media screen and (min-width:800px) {
    #team   {
        margin: 0 auto;
        background-color: #fff;
        margin-top: 2em;
        max-width: 1000px;
    }
    .team-images    {
        justify-content: space-evenly;
        padding-top: 2em;
    }
    .team-images img  {
        width: 90%;
        height: auto;
    }
}
