body    {
    background-image: url('./hands.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    width: 100%;
    margin: 0;
    max-width: 70em;
    margin: 0 auto;
}
header  {
    margin: 3rem 1rem;
}
main  {
    margin: 4rem;
}
h1  {
    color: #5E3E8C;
    text-align: center;
    font-size: 3rem;
}
.body-text  {
    border: .25rem solid #5E3E8C;
    padding: 1rem;
}
p   {
    font-size: 1.5rem;
    line-height: 2rem;
}
footer {
    background-color: #5E3E8C;
    padding: 2rem;   
    margin: 2rem 0;
}
@media (min-width: 500px){
    main    {
        margin: 5rem;
    }
    header {
        margin-top: 4rem;
    }
    .body-text {
        padding: 2rem 3rem;
    }
}
@media (min-width: 700px){
    main    {
        margin: 6rem;
    }
    header {
        margin: 5rem;
        line-height: 4rem;
    } 
    .body-text {
        padding: 3rem 4rem;
    } */
}
@media (min-width: 800px){
    header  {
        margin-top: 7rem;
    }
    h1  {
        font-size: 4rem;
    }
    .body-text  {
        padding: 1.5rem 3rem;
    }
    p   {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    footer  {
        padding: 4rem;
    }
}
